*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

img {
    width: 100%;
}

    /* Menú */ 


.logo-header{
    width: 80px;
    vertical-align: middle;
}

.menu-general {
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    top: 0%;
    z-index: 30;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 48px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.menu-header li {
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style:none
}

.menu-header li a{
    color: white;
    text-decoration: none;
    margin: 24px;
}

.underline {
    border-bottom: 3px solid #86A0EA;
    padding-bottom: 5px;
    font-weight: 600px;
}

.menu-header li a:hover {
    color: #86A0EA;
}

section{
    margin-top: 100px;
}

#btn-menu {
    display: none;
}

.burger {
    display: none;
}

.burger:hover {
    cursor: pointer;
}


    /* Banner personajes */ 
    

.pj {
    position: relative;
}

.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: #86A0EA;
    letter-spacing: 0.2em;
    text-align: center;
}

.cal {
    font-weight: lighter;
    position: absolute;
    left: 14%;
    top: 7%;
}

.bd {
    font-weight: lighter;
    position: absolute;
    left: 31%;
    top: 59%;
}

.cere {
    font-weight: lighter;
    position: absolute;
    left: 45%;
    top: 9%;
}

.greez {
    font-weight: lighter;
    position: absolute;
    left: 61%;
    top: 32%;
}

.segunda {
    font-weight: lighter;
    position: absolute;
    left: 82%;
    top: 10%;
}


    /* Detalles personajes SASS*/ 


    /* Footer */ 


footer {
    position: relative;
    width: 100%;
    height: 100px;
}

.logo {
    width: 80px;
    margin: 24px 48px;
}

.redes{
    font-size: 14px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-bottom: 10px;
    position: relative;
    top: -10px;
}

.redes-grupo {
    position: absolute;
    right: 0%;
    bottom: 30%;
    width: 300px;
    
}

.redes-grupo li {
    list-style: none;
    display: inline;
    margin: 0px 8px;

}

.redes-image{
    width: 20px;
    margin: 8px;
}


    /* Responsive */ 


@media (max-width:1024px){

    .burger {
        display: block;
        width: 32px;
    }

    nav {
        position: absolute;
        display: block;
        background-color: black;
        top: 100px;
        width: 100%;
        height: 300px;
        right: -100%;
        transition: all 0.5s;
    }

    .menu-header {
        flex-direction: column;
    }

    .menu-header li{
        margin: 18px;
        margin-right: 24px;
        text-align: right;
        font-size: 16px;
    }

    #btn-menu:checked ~ nav{
        right: 0%;
    }

    .cal {
        left: 13%;
        top: 6%;
    }

    .bd {
        left: 30%;
    }

    .cere {
        left: 44%;
        top: 8%;
    }

    .greez {
        left: 59%;
    }
    
    .segunda {
        left: 81%;
    }

    .pj-text-box {
        width: 34%;
    }

} 

@media (max-width: 780px) {

    .logo {
        display: none;
    }

}

@media (max-width: 768px) {
    
    .name{
        font-size: 1rem;
    }

    .cal {
        left: 12%;
        top: 5%;
    }

    .cere {
        left: 43%;
        top: 7%;
    }
    
    .segunda {
        left: 80%;
    }

    .pj-text-box {
        width: 40%;
    }

}

@media (max-width: 480px) {

    .cal {
        display: none;
    }

    .bd {
        display: none;
    }

    .cere {
        display: none;
    }
    
    .segunda {
        display: none;
    }

    .greez {
        display: none;
    }

    .pj-img-cuadro {
        width: 40%;
    }

    .pj-img-none {
        display: none;
    }

    .pj-name {
        font-size: 32px;
    }

    .pj-name {
        top: 95%;
    }

}